In [1]:
import pandas as pd
data = pd.read_csv('heart_disease_uci.csv')
print(data.head())

   id  age     sex    dataset               cp  trestbps   chol    fbs  \
0   1   63    Male  Cleveland   typical angina     145.0  233.0   True
1   2   67    Male  Cleveland     asymptomatic     160.0  286.0  False
2   3   67    Male  Cleveland     asymptomatic     120.0  229.0  False
3   4   37    Male  Cleveland      non-anginal     130.0  250.0  False
4   5   41  Female  Cleveland  atypical angina     130.0  204.0  False

          restecg  thalch  exang  oldpeak        slope   ca  \
0  lv hypertrophy   150.0  False      2.3  downsloping  0.0
1  lv hypertrophy   108.0   True      1.5         flat  3.0
2  lv hypertrophy   129.0   True      2.6         flat  2.0
3          normal   187.0  False      3.5  downsloping  0.0
4  lv hypertrophy   172.0  False      1.4    upsloping  0.0

                thal  num
0       fixed defect    0
1             normal    2
2  reversable defect    1
3             normal    0
4             normal    0

In [3]:
#Filter
filtered_data = data[data['age'] > 50]
print(filtered_data.head())

   id  age     sex    dataset               cp  trestbps   chol    fbs  \
0   1   63    Male  Cleveland   typical angina     145.0  233.0   True
1   2   67    Male  Cleveland     asymptomatic     160.0  286.0  False
2   3   67    Male  Cleveland     asymptomatic     120.0  229.0  False
5   6   56    Male  Cleveland  atypical angina     120.0  236.0  False
6   7   62  Female  Cleveland     asymptomatic     140.0  268.0  False

          restecg  thalch  exang  oldpeak        slope   ca  \
0  lv hypertrophy   150.0  False      2.3  downsloping  0.0
1  lv hypertrophy   108.0   True      1.5         flat  3.0
2  lv hypertrophy   129.0   True      2.6         flat  2.0
5          normal   178.0  False      0.8    upsloping  0.0
6  lv hypertrophy   160.0  False      3.6  downsloping  2.0

                thal  num
0       fixed defect    0
1             normal    2
2  reversable defect    1
5             normal    0
6             normal    3

In [9]:
import pandas as pd
data = pd.read_csv('heart_disease_uci.csv')
print(data.dtypes)

id            int64
age           int64
sex          object
dataset      object
cp           object
trestbps    float64
chol        float64
fbs          object
restecg      object
thalch      float64
exang        object
oldpeak     float64
slope        object
ca          float64
thal         object
num           int64
dtype: object

In [11]:
#group
import pandas as pd
data = pd.read_csv('heart_disease_uci.csv')
grouped = data.groupby('sex')[['age', 'chol']].mean()  # Wybierz numeryczne kolumny
print(grouped)

              age        chol
sex
Female  52.474227  241.481283
Male    53.787879  187.864865

In [13]:
filtered = data[data['age'] > 50]
print(filtered.head())

   id  age     sex    dataset               cp  trestbps   chol    fbs  \
0   1   63    Male  Cleveland   typical angina     145.0  233.0   True
1   2   67    Male  Cleveland     asymptomatic     160.0  286.0  False
2   3   67    Male  Cleveland     asymptomatic     120.0  229.0  False
5   6   56    Male  Cleveland  atypical angina     120.0  236.0  False
6   7   62  Female  Cleveland     asymptomatic     140.0  268.0  False

          restecg  thalch  exang  oldpeak        slope   ca  \
0  lv hypertrophy   150.0  False      2.3  downsloping  0.0
1  lv hypertrophy   108.0   True      1.5         flat  3.0
2  lv hypertrophy   129.0   True      2.6         flat  2.0
5          normal   178.0  False      0.8    upsloping  0.0
6  lv hypertrophy   160.0  False      3.6  downsloping  2.0

                thal  num
0       fixed defect    0
1             normal    2
2  reversable defect    1
5             normal    0
6             normal    3

In [15]:
#agregation
grouped = data.groupby('sex')[['age', 'chol']].agg(['mean', 'min', 'max'])
print(grouped)

              age                chol
             mean min max        mean  min    max
sex
Female  52.474227  30  76  241.481283  0.0  564.0
Male    53.787879  28  77  187.864865  0.0  603.0

In [4]:
import pandas as pd
data= pd.read_csv('heart_disease_uci.csv')
print(data.head())

   id  age     sex    dataset               cp  trestbps   chol    fbs  \
0   1   63    Male  Cleveland   typical angina     145.0  233.0   True
1   2   67    Male  Cleveland     asymptomatic     160.0  286.0  False
2   3   67    Male  Cleveland     asymptomatic     120.0  229.0  False
3   4   37    Male  Cleveland      non-anginal     130.0  250.0  False
4   5   41  Female  Cleveland  atypical angina     130.0  204.0  False

          restecg  thalch  exang  oldpeak        slope   ca  \
0  lv hypertrophy   150.0  False      2.3  downsloping  0.0
1  lv hypertrophy   108.0   True      1.5         flat  3.0
2  lv hypertrophy   129.0   True      2.6         flat  2.0
3          normal   187.0  False      3.5  downsloping  0.0
4  lv hypertrophy   172.0  False      1.4    upsloping  0.0

                thal  num
0       fixed defect    0
1             normal    2
2  reversable defect    1
3             normal    0
4             normal    0

In [6]:
high_chol =  data[data['chol']>240]
avg_age = high_chol['age'].mean()
print(f"Średni wiek osób z cholesterolem > 240: {avg_age:2f}")

Średni wiek osób z cholesterolem > 240: 53.663818

In [10]:
count_by_sex = data.groupby('sex')['age'].count()
print("Liczność płci:\n",count_by_sex)

Liczność płci:
 sex
Female    194
Male      726
Name: age, dtype: int64